<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BIND_TELECOM_CONNECTION_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Added permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="org.apache.http.legacy"
        android:required="false" /> 
    <!-- Optional permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <!-- The Agora SDK requires Bluetooth permissions in case users are using Bluetooth devices.-->
    <uses-permission android:name="android.permission.BLUETOOTH" />


    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@drawable/ic_launcher"
      android:roundIcon="@drawable/ic_launcher"
      android:allowBackup="false"
      android:usesCleartextTraffic="true"
      android:screenOrientation="sensorPortrait"
      android:theme="@style/AppTheme"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:targetApi="s"
        tools:ignore="DataExtractionRules">
      <activity
        android:name=".MainActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTop"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="http" />
                <data android:scheme="https"
                    android:host="professionbeat.page.link"
                    android:pathPrefix="/ghHK" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                android:host="otpless"
                android:scheme= "${applicationId}.otpless"/>
            </intent-filter>
      </activity>
        <activity android:name="com.reactnativefullscreennotificationincomingcall.IncomingCallActivity"
            android:theme="@style/incomingCall"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:exported="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            />
        <activity android:name="com.reactnativefullscreennotificationincomingcall.NotificationReceiverActivity"
            android:theme="@style/incomingCall"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:exported="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            />
        <service
            android:name="com.reactnativefullscreennotificationincomingcall.IncomingCallService"
            android:enabled="true"
            android:stopWithTask="false"
            android:exported="true" />
        <service android:name="io.wazo.callkeep.VoiceConnectionService"
            android:label="Wazo"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE"
            android:foregroundServiceType="phoneCall"
            android:exported="true">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.supersami.foregroundservice.notification_channel_name"
            android:value="Sticky Title"
            />
        <meta-data
            android:name="com.supersami.foregroundservice.notification_channel_description"
            android:value="Sticky Description."
            />
        <meta-data
            android:name="com.supersami.foregroundservice.notification_color"
            android:resource="@color/azure"
            />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_notification_logo" />
        <!-- notification -->
        <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationActions" />
        <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationPublisher" />
        <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationActions" />
        <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationPublisher" />
        <receiver
            android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationBootEventReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="io.wazo.callkeep.RNCallKeepBackgroundMessagingService" />
        <meta-data
          android:name="com.google.android.geo.API_KEY"
          android:value="AIzaSyA7jKr8cUZnMXeuccPPztmG1Ucp-RfBxVY"/>
    </application>
</manifest>
